<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getRenderingContentDependencies>
        <processor type="ContentDependencies.SiteRoot, ContentDependencies"/>
      </getRenderingContentDependencies>
    </pipelines>
  </sitecore>
</configuration>